<!--    <div *ngIf="page"> -->
<!--    <ul *ngFor="let membro of page.content"> -->
<!--        <li>{{ membro.nome }}</li> -->
<!--        <li>{{ membro.endereco }}</li> -->
<!--        <li>{{ membro.bairro }}</li> -->
<!--        <li>{{ membro.numero }}</li> -->
<!--        <li>{{ membro.cidade }}</li> -->
<!--        <li>{{ membro.telefone }}</li> -->
<!--        <li>{{ membro.observacao }}</li> -->
<!--    </ul> -->
<!--    </div> -->

<main class="container">

    <div class="card">

        <div class="box-left">

        </div>

        <form class="box-form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <h1>Cadastro de visitas</h1>

            <h5>Dados Pessoais</h5>

            <!-- Classe line -> organiza o campo nome -->
            <div class="line">

                <!-- Classe field -> agrupa label e input do campo nome -->
                <div class="field">
                    <!-- Campo de nome -->
                    <label for="nome">Nome</label>
                    <input formControlName="nome" id="nome" type="text" placeholder="Nome">
                </div>

            </div>    

            <!-- Classe line -> organiza os campos telefone e cidade -->
            <div class="line">

                <!-- Classe field -> agrupa label e input do campo telefone -->
                <div class="field">
                    <!-- Campo de telefone -->
                    <label for="telefone">Telefone</label>
                    <input formControlName="telefone" id="telefone" type="text" placeholder="Telefone">
                </div>

                <!-- Classe field -> agrupa label e input do campo cidade -->
                <div class="field">
                    <!-- Campo de cidade -->
                    <label for="cidade">Cidade</label>
                    <input formControlName="cidade" id="cidade" type="text" placeholder="Cidade">
                </div>

            </div>    

            <!-- Classe line -> organiza o campo endereço -->
            <div class="line">

                <!-- Classe field -> agrupa label e input do campo endereço -->
                <div class="field">
                <!-- Campo de endereço -->
                    <label for="endereco">Endereço</label>
                    <input formControlName="endereco" id="endereco" type="text" placeholder="Endereço">
                </div>

            </div>

            <!-- Classe line -> organiza o campo número e bairro -->
            <div class="line">

                <!-- Classe field -> agrupa label e input do campo número -->
                <div class="field">
                <!--Campo de numero-->
                    <label for="numero">Número</label>
                    <input formControlName="numero" id="numero" type="number" placeholder="Número">
                </div>

                <!-- Classe field -> agrupa label e input do campo bairro -->
                <div class="field">
                <!--Campo de bairro-->
                    <label for="bairro">Bairro</label>
                    <input formControlName="bairro" id="bairro" type="text" placeholder="Bairro">
                </div>

            </div>

            <!-- Classe line -> organiza o campo observação -->
            <div class="line">
                
                <!-- Classe field -> agrupa label e input do campo observação -->
                <div class="field">
                    <!--Campo de observação-->
                    <label for="observacao">Observação</label>
                    <textarea formControlName="observacao" id="observacao" placeholder="Observação"></textarea>
                </div>

            </div>

            <button type="submit">Cadastrar</button>
        </form>
        

    </div>

</main>